body {
    font-family: "Crimson Text", "Times New Roman", serif;
    background-color: #F2FFFC;
    font-size: 120%;
    line-height: 1.5;
}

h1,
h2,
.subtitulo-principal {
    font-family: "Open Sans Condensed", "Arial", sans-serif;
    font-size: 30px;
}

h1 {
    text-transform: uppercase;
    font-size: 4em;
    
}

.titulo-principal {
    text-align: center;
    background-color:#00CC6A;
    color: white;
    padding: 2rem;
    border-bottom: .5rem solid #000;
}

.subtitulo-texto {
    font-size: 1.5em;
    clear: both;
}
/*HOVER E FOCUS*/

/* LINKS CONHECA MAIS,VEJA MAIS
main a:hover,
main a:focus{
    color: #27ae60;

}*/

/*LINKS DE CONTATO*/
footer a:focus,
footer a:hover {
    color: white;
}

main p {
    text-align: justify;
    margin: 1em 0;
}
.subtitulo-principal p{
    font-size: 50px;
}

.navegacao-site {
    text-align: center;
    background-color: #3C1D3D;
    color: #F2FFFC;
    padding: 1em;
}

.navegacao-site a {
    color: inherit;
    font-family: "Open Sans Condensed", "Arial", sans-serif;
    text-transform: uppercase;
    font-size: 20px;
    text-decoration: none;
}

.navegacao-site a:hover,
.navegacao-site a:focus {
    color: #00CC6A;
}

.navegacao-site h1 {
    font-size: 1.5em;
    margin-bottom: 1em;
}

.rodape-pagina {
    color:white;
    padding: 0.3em;
    clear: both;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    font-size: 20px;
    background-color: #00CC6A;
    /*background-image: radial-gradient(ellipse at left bottom,
        rgba(60, 29, 61, 0.8),
        rgba(60, 29, 61, 0.8) 65%,
        black 65%,
        black 70%,
        transparent 70%);
    background-size: 25% 100%;*/
}

.container {
    width: 80ch;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5em 0;
}
em {
    font-style: italic;
}

.icones-redes-sociais li {
    display: inline-block;
}

.icones-redes-sociais a {
    width: 40px;
    height: 40px;
    display: block;
    text-indent: -999999px;
}

.github {
    background-image: url(../img/github.png);
    background-repeat: no-repeat;
}

.instagram {
    background-image: url(../img/instagram.png);
    background-repeat: no-repeat;
}

.linkedin {
    background-image: url(../img/linkedin.png);
    background-repeat: no-repeat;
}

main {
    width: 80%;
    float: left;
    padding-bottom: 4em;
}

.minha-foto,
.navegacao-site {
    border-left: .5em solid black;
    border-bottom: .5em solid black;
    box-sizing: border-box;
}

.navegacao-site {
    width: 20%;
    float: right;
    position: relative;
    top: 300px;
}

.minha-foto {
    position: absolute;
    top: 0;
    right: 0;
    height: 300px;
}
.icones-redes-sociais a {
    position: relative;
}

.icones-redes-sociais a:hover::after,
.icones-redes-sociais a:focus::after {
    content: attr(data-tooltip);
    position: absolute;
    top: 100%;
    right: 0;
    text-indent: 0;
    width: 300%;
    background: black;
    font-size: .75em;
}